extends layout

block content
  h1 #{results.name}

  p #[strong Price:] $#{results.price}
  p #[strong Description:] #{results.description}
  p #[strong Image:] #{results.image}
  p #[strong Stock:] #{results.stock}
  p #[strong Category:]
    a(href=results.category.url) #{results.category.name}
  
  hr
  a(href=results.url+'/delete')
    button.btn.btn-primary(type='button') Delete Product

  a(href=results.url+'/update')
    button.btn.btn-primary(type='button') Update Product