extends layout

block content
  h1 #{results.name}

  p #[strong price:] #{results.price}
  p #[strong description:] #{results.description}
  p #[strong Image:] #{results.image}
  p #[strong Stock:] #{results.stock}

  a(href=results.category.url) #{results.category.name}
  
